body{
  background-image: url("https://www.legat.com/wp-content/uploads/2023/05/John-Hancock-College-Preparatory-High-School-Courtyard.jpg"); /* The image used */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

p{
  background-color:rgb(191, 255, 250); border-radius:10px; font-size: 100px;
}