.card{

padding: 30px;
height: 500px;
width: 600px;
border: 20px;
margin: 50px;
text-align: center;
}

#Videogames{
background-color: aquamarine;
color: rgb(29, 67, 110);

}
#Music{
    background-color: cadetblue;
    color: rgb(0, 0, 0);
}
#DreamCareer{
background-color: rgb(31, 96, 182);
color: rgb(86, 186, 216);

}