
/* Call classes with the city */
/* . is for classes and # for IDS */
.city{

font-family: arial, sans-serif;
font-size: 14px;
color: rgb(105, 70, 5);
}
/* using IDs with the #cityname */
#London {

background-color: rgb(230, 174, 91);
border: 1px solid rgb(255, 0, 0);
padding: 10px;
margin: 5px;
}
#Paris {

background-color: rgba(255, 0, 0, 0.274);
border: 1px solid rgb(143, 106, 27);
padding: 10px;
margin: 5px;

}
#Tokyo {

background-color: rgb(253, 215, 0);
border: 1px solid rgb(255, 153, 0);
padding: 10px;
margin: 5px;

}
#P_London{
background-color: rgb(139, 128, 65);
border: 1px solid rgb(255, 153, 0);
padding: 10px;
margin: 5px;

}
body{
    background-color: rgba(214, 108, 38, 0.548);
}