/* BASE STYLES */
:root {
  --clr-dark: #c73636;
  --clr-light: #80000b;
  --clr-accent: #d4395b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
}

.item {
  width: 150px;
  height: 150px;
  background-color: #fb7185;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: 10px solid var(--clr-accent);
  border-radius: 10px;
}

/* END OF BASE STYLES */
.container {
  display: flex;
  flex-direction: row;
  /* colomn= vertical row= horizontal */
  justify-content: space-around
   /* flex-end will push the items 
  the the way to the back or bottom of the container. */
  /* center will center the items */
/* space-between will space out the items */
/* space-around will create space in the edges while
 keeping the items spaced out */
 /* space-evenly will evenly distribute the spaces inbetween the items */
 /* The items are set to row on defult */
/* Justify-content is for alinging the items in the main axis */

/* align-items:flex-start */
/* flex start places items at the start of the cross axis and felx-end does
the opposite */
/* Center will place items at the center of the container */
/* Baseline will align all the items using the text. */
/* align-items aligns the items on the cross axis */

/* flex wrap: wrap; */
/* Using this, if you have multiple items trying to overlap, it will not 
overlap with wrap. it is set to nowrap on defult, meaning that the items
will try and overlap if there are too many. */
}

.item-1{
font-size: 1.5rem;
/* 1 rem=16px */
}
.item-2{
  font-size: 1.5rem;
}
.item-3{
font-size: 1.5rem;

}
